*{
  margin: 0;
  padding: 0;
  font-size: 16px;
  cursor: none;
  font-family: 'PP Neue Montreal', sans-serif;
}
body{
  transition: all 0.5s ease-in-out;
  min-height: 100vh;
}
.container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .container{
    padding: 0 16px;
  }
}
.layout{
  min-height: 100vh;
}
#root{
  overflow: visible;
  height: 100%;
}
.cursor{
  /*position: fixed;
  border: 2px solid black;
  background: transparent;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  backdrop-filter: invert(1);
  pointer-events: none;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;*/
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #1a1a1a;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  transform-origin: center center;
  pointer-events: none;
  z-index: 1000;
}
.large-cursor{
  /*width: 72px;
  height: 72px;*/
  transform: scale(4);
  backdrop-filter: invert(1);
  transition: backdrop-filter 0.3s ease-in-out;
  border: none;
}